In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

C:\Users\Tanishq Kesharwani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Tanishq Kesharwani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Tanishq Kesharwani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Tanishq Kesharwani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Tanishq Kesharwani\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
cyclone=pd.read_csv("austin_weather.csv")

In [27]:
cyclone.head()

,Date,TempAvgF,HumidityAvgPercent,SeaLevelPressureAvgInches,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,60,75,29.68,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,48,68,30.13,6,25,0,
2,2013-12-23,45,52,30.49,3,12,0,
3,2013-12-24,46,56,30.45,4,20,0,
4,2013-12-25,50,71,30.33,2,16,T,

In [5]:
cyclone.drop('TempHighF',axis=1,inplace=True)

In [7]:
cyclone.drop('TempLowF',axis=1,inplace=True)

In [9]:
cyclone.drop('DewPointHighF',axis=1,inplace=True)

In [12]:
cyclone.drop('DewPointAvgF',axis=1,inplace=True)

In [13]:
cyclone.drop('DewPointLowF',axis=1,inplace=True)

In [15]:
cyclone.drop('HumidityHighPercent',axis=1,inplace=True)

In [16]:
cyclone.drop('HumidityLowPercent',axis=1,inplace=True)

In [18]:
cyclone.drop('SeaLevelPressureHighInches',axis=1,inplace=True)

In [19]:
cyclone.drop('SeaLevelPressureLowInches',axis=1,inplace=True)

In [21]:
cyclone.drop('VisibilityHighMiles',axis=1,inplace=True)

In [22]:
cyclone.drop('VisibilityAvgMiles',axis=1,inplace=True)

In [23]:
cyclone.drop('VisibilityLowMiles',axis=1,inplace=True)

In [25]:
cyclone.drop('WindHighMPH',axis=1,inplace=True)

In [28]:
cyclone

,Date,TempAvgF,HumidityAvgPercent,SeaLevelPressureAvgInches,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,60,75,29.68,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,48,68,30.13,6,25,0,
2,2013-12-23,45,52,30.49,3,12,0,
3,2013-12-24,46,56,30.45,4,20,0,
4,2013-12-25,50,71,30.33,2,16,T,
...,...,...,...,...,...,...,...,...
1314,2017-07-27,89,54,29.97,5,21,0,
1315,2017-07-28,91,54,29.9,5,20,0,
1316,2017-07-29,92,51,29.86,4,17,0,
1317,2017-07-30,93,48,29.91,4,20,0,
1318,2017-07-31,88,43,29.97,4,20,0,

In [32]:
cyclone.isnull().sum()

Date                         0
TempAvgF                     0
HumidityAvgPercent           0
SeaLevelPressureAvgInches    0
WindAvgMPH                   0
WindGustMPH                  0
PrecipitationSumInches       0
Events                       0
dtype: int64