In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [75]:
fire=pd.read_csv("fire.csv")

In [88]:
fire.head()

,Latitude,Longitude,COTotalColumn,COMixingRatio surface,COMixingRatio 900hPa,COMixingRatio 800hPa,COMixingRatio 700hPa,COMixingRatio 600hPa,COMixingRatio 500hPa,COMixingRatio 400hPa,COMixingRatio 300hPa,COMixingRatio 200hPa,COMixingRatio 100hPa,Temperature
0,9.03868,-20.8853,2.580000e+18,134.620,173.135,153.868,124.655,114.139,106.779,109.7300,122.0820,122.0620,53.1248,300.221
1,8.81834,-20.8535,2.650000e+18,139.292,183.707,164.003,131.822,120.366,110.927,110.9010,118.1920,115.0210,51.7430,300.686
2,8.59805,-20.8216,2.750000e+18,158.140,233.699,217.127,165.104,135.990,106.739,85.2269,71.4620,69.4771,42.9896,300.940
3,8.37733,-20.7898,2.720000e+18,148.004,196.613,175.510,138.600,125.555,113.432,110.0860,112.1170,106.2790,50.0490,301.036
4,8.99296,-21.3651,2.510000e+18,134.441,179.879,166.433,134.634,119.701,106.467,99.5474,96.0743,91.8761,47.7643,300.325

In [89]:
fire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214868 entries, 0 to 214867
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0    Latitude              214868 non-null  float64
 1    Longitude             214868 non-null  float64
 2    COTotalColumn         214868 non-null  float64
 3   COMixingRatio surface  214868 non-null  float64
 4   COMixingRatio 900hPa   179518 non-null  float64
 5   COMixingRatio 800hPa   188607 non-null  float64
 6   COMixingRatio 700hPa   197725 non-null  float64
 7   COMixingRatio 600hPa   214027 non-null  float64
 8    COMixingRatio 500hPa  214868 non-null  float64
 9   COMixingRatio 400hPa   214868 non-null  float64
 10  COMixingRatio 300hPa   214868 non-null  float64
 11  COMixingRatio 200hPa   214868 non-null  float64
 12  COMixingRatio 100hPa   214868 non-null  float64
 13  Temperature            214868 non-null  float64
dtypes: float64(14)
memory usage: 23.0 MB

In [90]:
fire.describe()

,Latitude,Longitude,COTotalColumn,COMixingRatio surface,COMixingRatio 900hPa,COMixingRatio 800hPa,COMixingRatio 700hPa,COMixingRatio 600hPa,COMixingRatio 500hPa,COMixingRatio 400hPa,COMixingRatio 300hPa,COMixingRatio 200hPa,COMixingRatio 100hPa,Temperature
count,214868.000000,214868.000000,2.148680e+05,214868.000000,179518.000000,188607.000000,197725.000000,214027.000000,214868.000000,214868.000000,214868.000000,214868.000000,214868.000000,214868.000000
mean,-2.670918,13.926136,1.518041e+18,101.285630,96.702860,89.508774,83.692415,76.558943,73.177397,73.531732,73.586831,61.807356,34.259115,281.336646
std,44.750644,102.821648,5.794889e+17,69.869174,50.871879,38.431443,32.798902,31.860346,28.077525,29.205367,28.401448,31.450767,15.471465,25.646615
min,-84.982600,-179.998000,1.950000e+17,17.786300,25.557100,21.293200,18.602200,13.907700,13.889800,13.040000,12.077800,9.193550,9.420420,195.511000
25%,-31.696625,-79.431250,1.170000e+18,52.703600,57.112550,60.191150,58.948800,55.912300,56.029250,58.304875,58.401425,40.625825,18.618400,259.203000
50%,-0.458235,27.977450,1.560000e+18,87.764500,88.025250,79.912100,77.217600,73.091900,71.874100,74.188150,75.175650,60.511000,34.552200,293.318000
75%,28.540350,99.425275,1.910000e+18,128.032000,123.952250,113.408000,105.404000,95.187650,89.511000,88.572500,87.061225,77.822600,47.859625,300.533000
max,84.783500,179.997000,7.190000e+18,2425.250000,2100.800000,1192.090000,710.467000,2065.610000,1222.940000,929.544000,692.958000,719.241000,129.150000,341.098000

In [91]:
fire.isnull().sum()

 Latitude                    0
 Longitude                   0
 COTotalColumn               0
COMixingRatio surface        0
COMixingRatio 900hPa     35350
COMixingRatio 800hPa     26261
COMixingRatio 700hPa     17143
COMixingRatio 600hPa       841
 COMixingRatio 500hPa        0
COMixingRatio 400hPa         0
COMixingRatio 300hPa         0
COMixingRatio 200hPa         0
COMixingRatio 100hPa         0
Temperature                  0
dtype: int64

In [80]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()

In [134]:
fire.drop('COMixingRatio 900hPa',axis=1,inplace=True)

In [135]:
fire.drop('COMixingRatio 800hPa',axis=1,inplace=True)

In [136]:
fire.drop('COMixingRatio 700hPa',axis=1,inplace=True)

In [137]:
fire.drop('COMixingRatio 600hPa',axis=1,inplace=True)

In [138]:
fire.drop(' COMixingRatio 500hPa',axis=1,inplace=True)

In [139]:
fire.drop('COMixingRatio 400hPa',axis=1,inplace=True)

In [142]:
fire.drop('COMixingRatio 300hPa',axis=1,inplace=True)

In [143]:
fire.drop('COMixingRatio 200hPa',axis=1,inplace=True)

In [ ]:
fire.drop('COMixingRatio 100hPa',axis=1,inplace=True)

In [145]:
fire.head()

    Latitude   Longitude   COTotalColumn  COMixingRatio surface  Temperature
0    9.03868    -20.8853    2.580000e+18                134.620       300.221
1    8.81834    -20.8535    2.650000e+18                139.292       300.686
2    8.59805    -20.8216    2.750000e+18                158.140       300.940
3    8.37733    -20.7898    2.720000e+18                148.004       301.036
4    8.99296    -21.3651    2.510000e+18                134.441       300.325

In [176]:
y=fire.iloc[:,2:].values

In [177]:
y

array([[2.58000e+18, 1.34620e+02, 3.00221e+02],
       [2.65000e+18, 1.39292e+02, 3.00686e+02],
       [2.75000e+18, 1.58140e+02, 3.00940e+02],
       ...,
       [2.03000e+18, 8.45694e+01, 3.29450e+02],
       [1.79000e+18, 8.49521e+01, 3.28098e+02],
       [1.66000e+18, 1.82100e+02, 3.33050e+02]])

In [178]:
temp=preprocessing.StandardScaler().fit(y).transform(y)

In [179]:
temp.shape

(214868, 3)

In [180]:
temp

array([[ 1.83258262,  0.47709806,  0.73633102],
       [ 1.953379  ,  0.54396604,  0.75446211],
       [ 2.12594525,  0.81372798,  0.76436597],
       ...,
       [ 0.88346821, -0.23925099,  1.87601623],
       [ 0.4693092 , -0.2337736 ,  1.8232996 ],
       [ 0.24497307,  1.1566554 ,  2.01638596]])

In [182]:
fire1=pd.DataFrame(temp,columns=['COTotalColumn','COMixingRatio surface','Temperature'])

In [187]:
y1=fire.iloc[:,:2].values

In [188]:
fire2=pd.DataFrame(y1,columns=['Latitude','Longitude'])

In [193]:
fire_Hazard=pd.concat([fire2,fire1],axis=1)

In [195]:
fire_Hazard

        Latitude  Longitude  COTotalColumn  COMixingRatio surface  Temperature
0        9.03868   -20.8853       1.832583               0.477098     0.736331
1        8.81834   -20.8535       1.953379               0.543966     0.754462
2        8.59805   -20.8216       2.125945               0.813728     0.764366
3        8.37733   -20.7898       2.074175               0.668657     0.768109
4        8.99296   -21.3651       1.711786               0.474536     0.740386
...          ...        ...            ...                    ...          ...
214863 -29.79870   150.4480       0.486566              -0.066316     1.759587
214864 -29.58910   150.4920       0.400283               0.051802     1.826575
214865 -29.37920   150.5360       0.883468              -0.239251     1.876016
214866 -30.11010   150.8890       0.469309              -0.233774     1.823300
214867 -29.69860   150.9740       0.244973               1.156655     2.016386

[214868 rows x 5 columns]